*{
    margin:0;
    padding: 0;
 }

 /* css variables */
 :root{
    --navbar-height:59px;
 }
 /* naviagtion bar */
 #navbar{
    display:flex;
    background-color: black;
 }

 /* naviagtion bar logo and image */
 #logo{
     margin:10px 34px; 
 }
 #logo img{
    /* margin: 3px 6px; */
    height: 50px;
    width: 50px;
 }
 #navbar ul{
    display: flex;
    padding-top: 20px;
 }
 #navbar ul li{
    list-style: none;
    font-size: 1.3rem;
 }
 #navbar ul li a{      /*to make hover effect on everything of list item       */
       display: block;
       padding: 3px 22px;
       border-radius:20px;
       text-decoration: none; 
       color: white;
 } 
 #navbar ul li a:hover{
    color: yellowgreen;
    background-color: white;
 }

 /* home section */
 #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
 }